@{
    ViewData["Title"] = "Home Page";
}

@functions {
    private void StampaNome(string name)
    {
        <p>@name</p>
    }
}

<ul>
    @for (int i = 0; i < 10; i++)
    {
        <li>@ViewData["name"]</li>
    }
</ul>


@{
    StampaNome("Simone Capelli");
    StampaNome("simone.capelli@itiscuneo.eu");
}
